@model MusicPlayer.Models.user

@{
    ViewBag.Title = "Sign in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12" style="padding-top:100px">
    <div class="panel panel-primary col-md-offset-2 col-md-8">
        <div class="panel-heading ">sign in to your account!</div>
        <br />
        <p class="text-info" id="p1" style="padding-top:80px; font-size:30px; padding-left:50px "></p>

        <form class="form-horizontal" role="form" method="post" action="/Account/signin">
            <div class=" col-xs-5">
                <br />
                <input type="text" class="form-control" placeholder="User Name" required autofocus name="user_name">
                <br />
                <input type="password" class="form-control" placeholder="Password" required name="password">
                <br />
                @*<label class="checkbox pull-left text-info"><input class="text-info" type="checkbox" value="remember-me" name="remember_me">Remember me</label>*@
                <br />
                <button class="btn btn-lg btn-success " type="submit">Sign in</button>
                <br />
                <br />
                <br />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}