@model musicx.Models.user

@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}


<div class="row" style="background-color:#f584b5">
    <p class="text-info" style="padding-top: 50px; font-size: 60px">Make your Account!</p>
    <img src="/Content/1.gif" class="pull-left"/>
    <div class="panel-body">
        <form role="form" method="post" action="/Account/signupsubmit/m">
            <div class=" form-group" style="padding-left:450px">
                <br />
               
                            @Html.Label("Your Name", new { @class = "", style = "font-size:large;margin-top:20p;tab-size:3" })
                        <input type="text" name="Name" id="Name" class="form-control input-lg" placeholder="First Name" style="tab-size:8">
                            
                           
                            @Html.Label("User Name", new { @class = "", style = "font-size:large;margin-top:20p;tab-size:3" })
                            <input type="text" id="UName" name="User_Name" class="form-control input-lg" placeholder="User Name" style="tab-size:8">

                            <input type="button" id="b1" value="Check" />
                          
                            <div id="div1"></div>

                            <script type="text/javascript">
                                // alert('hello')
                                $(document).ready(function () {

                                    $("#d1").show();
                                    $("#b1").on("click", function () {
                                        var uName = $('#UName').val();
                                        $.getJSON("/Account/Check?name=" + uName, function (b) {
                                            //   $("#d1").hide();
                                            if (b == false) {
                                                $("#div1").text("yayy.. you can take this user name");
                                            }
                                            else {
                                                $("#div1").text("nah.. already taken");
                                            }
                                        });
                                    });
                                });
                            </script>


                        @Html.Label("Password", new { @class = "", style = "font-size:large;margin-top:20p;tab-size:3" })
                        <input type="password" name="Password" id="Password" class="form-control input-lg" placeholder="Password" style="tab-size:8">
                        @Html.ValidationMessageFor(m => m.Password)
                        <input type="submit" value="Register" class="btn btn-info btn-success">
            </div>
        </form>
    </div>
</div>
